<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>As linguagens de programação</title>
    <link rel="stylesheet" href="css/stylelinguagens.css">
</head>
<body>
    <header>
        <h1>Linguagens de programação</h1>
        <nav>
            <ul>
                <li><a href="index.html">Voltar ao inicio</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <h2 class="introduction">O que são as Linguagens de Programação e qual a sua importância?</h2>
        <article>
            <h3>Entenderemos primeiro o que é programação!</h3>
            <p> De forma geral, a programação é um processo de escrita, testes e manutenção de programas de computadores. Esses programas, por sua vez, são compostos por conjuntos de instruções determinados pelo programador que descrevem tarefas a serem realizadas pela máquina e atendem diversas finalidades.</p>
            <p>O advento da programação está diretamente ligado à história dos computadores. A primeira programadora foi uma mulher chamada Ada Lovelace, que escreveu um código para possibilitar a utilização da máquina analítica de Charles Babbage, uma máquina robusta, de difícil comunicação, considerada a precursora dos computadores eletrônicos atuais.</p>
                <img src="../meuprojeto2/video/linguagens.jpg" alt="300" width="700">
        </article>
    </main>
    <footer>
        <p>&copy; 2024 Site de Tecnologia</p>
    </footer>
    
</body>
</html>